@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --blue: #5da9dd;
  --white: #ffffff;
  --gray: #e9e9e9;
  --bright: #f77f7f;
  --black: #000000;
  --dark: #676767;
  --grayish: #fdd9d9;
  --green: #4caf50;
  --darkish: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  background: var(--gray);
}
